<h2 id="why-we-need-pragmatic-but-humane-responses-to-refugees-and-immigration.">Why we need pragmatic but humane responses to refugees and immigration.</h2>
<h3 id="john-c.-nash">John C. Nash</h3>
<h4 id="section">2017-3-2</h4>
<p>Refugees and migrants have been with us for as long as humans have had social groupings. Today there is talk of a “migrant crisis”, with many voices calling for action to “deal with” the problem. This essay is an attempt to suggest that the majority of such suggestions are far too simplistic. Worse, they do little to genuinely resolve the basic issues of insufficient resources, of which good information is one of the most scarce.</p>
<p>There are two main philosophical themes concerning migrants in the Western democracies:</p>
<ul>
<li><p>we should help refugees and offer a maximum of humanitarian welcome and aid;</p></li>
<li><p>we should “keep them out” as illegal aliens.</p></li>
</ul>
<p>As a former executive member of Amnesty International Canada, I am strongly in favour of protecting those whose lives and liberty are threatened because of their non-violent expression of ideas. However, most of us who have worked in trying to ensure democratic expression is protected will have encountered people claiming to be victims of political oppression whose main goal is economic advancement.</p>
<p>There is nothing unreasonable about wanting to better one’s state in life. But many people who want to improve their condition are not under threat of physical harm from others. Finding out the true situation is very challenging.</p>
<p>It is also reasonable – I would claim necessary – for governments to manage immigration for the benefit of their citizens as a primary directive, with humanitarian goals as secondary. If migrants overwhelm the resources of a country – and we see signs of this at this time in early 2017 in Lebanon and to a lesser extent in Greece, Italy and Turkey – then eventually both citizens and migrants suffer.</p>
<h3 id="action-at-a-distance">Action at a distance</h3>
<p>While there is a lot of attention on migrants coming across borders, we see precious little action to reduce the flow. At the time of writing, a high proportion of migrants flowing across the Mediterranean and into Canada across the Canada-US border are of African origin. Many are fleeing hunger or violence in various places across that continent, and it is almost certain many are genuine refugees. However, mixed in are a good proportion of economic migrants. Who is who?</p>
<p>If we are to avoid trying to deal with the very expensive problem of judging all the cases and the even more expensive task of repatriating them – or even deporting them somewhere – it is worth considering whether intervention is worthwhile.</p>
<p>Clearly the large powers – I dislike calling them “super” when their policies are often so viciously self-serving or misguided or both – have enough stake in Syria that a country like Canada cannot hope to do much there at the moment. But in some of the smaller hot-spots in the world we might be able to offer some measure of stability in conjunction with other mid-level powers.</p>
<p>The policies of the 60s and 70s to de-colonialize have led, unfortunately in many cases, to many egregiously corrupt and nasty regimes. We are not exempt from corruption in the West, but it is usually kept to a nuisance level. Democracies are far from perfect, and the process is forever messy. On the other hand, India has shown that democracy can be surprisingly resilient even in a country with massive poverty.</p>
<p>While the British did much evil in India, they did put in place a workable bureaucracy and a framework educational system. In many parts of Africa, the colonial administrations did not have either time or inclination to do this. Perhaps there is an opportunity for international action to offer, and perhaps even impose with United Nations backing, the outsourcing of the management of education and security so that those structures can build a cadre of politically neutral officials so corruption is minimized and government can function.</p>
<p>The other major effort that is needed internationally is better programs for the management and control of refugee camps. Many are simply places to park people. There is no chance for education for youth, no opportunity for those with skills or education to assist their community, and essentially, no way out. We have seen refugee camps become permanent cities, but also places where discontent is the food of terrorism and crime. We know many camps will morph from temporary aid to permanent settlement. We might as well make them civil communities where people can live and, hopefully, prosper, even if it is not where they would really like to be.</p>
<h3 id="local-initiatives">Local initiatives</h3>
<p>Since we cannot unilaterally accomplish anything with the corrupt or failed regimes that generate so many of the migrants we see trudging across the globe, we do need policies and programs to deal with those who show up here.</p>
<p>First, we should be putting more resources into our intelligence and information assets. We need to know</p>
<ul>
<li><p>where migrants are coming from, and why</p></li>
<li><p>who is profiting from the misery of these migrants</p></li>
<li><p>how migrants are managing to get here</p></li>
<li><p>which stories are true and which are simply convenient.</p></li>
</ul>
<p>Second, we should be streamlining our adjudication process. (The same issue afflicts our courts, but that is a separate matter.) Why pay for accommodation for several months in hotels when the process should be able to be conducted in a day or so of arrival.</p>
<p>Third, when migrant claims for status in Canada are rejected, we should have clear policies and programs for dealing with the people involved. Deportation to the country of origin is extremely expensive, and in many cases is not feasible. Return to “last safe country” may or may not be possible, and in any case only shifts the costs somewhere else. It is likely worthwhile determining if joint or multi-national programs can save a lot of time, effort and money in dealing with people whose origin is undetermined or who cannot be returned because there is no reasonable mechanism.</p>
<p>The Australians have tried warehousing migrants of all types on remote islands. Unfortunately, there have been credible reports of cruelty and mistreatment. Worse, the people detained have no worthwhile activity to pursue, and no route to an improved life.</p>
<p>Migrants whose claims are rejected and who cannot be deported inexpensively pose a conundrum. We don’t want them in our society and we cannot just put them out for collection with the next garbage pickup.</p>
<p>One possibility that could offer a relatively low cost and a humane resolution is to allow claim-rejected migrants the use of abandoned towns or old military bases as a place to stay, build community, get some education, and show that they could contribute to Canadian society. We would need to ensure we had good identification of these conditional immigrants – fingerprint and/or DNA identification – in case they tried to hide in the regular population. Costs could be kept low by permitting those who claim professional skills such as doctors, engineers, etc. to practice within the confines of the settlement. Some resources for education would be required if we expect people to be able to show what they can contribute, along with mechanisms to allow for economic activity and interaction with the wider society.</p>
<p>Those who show that they can contribute would, after a suitable period of several years, be allowed permanent residence. Others would, when it is feasible, be deported. It seems reasonable that one of the tasks of the settlements would be to set up and manage detention facilities for those who prove to be criminals or otherwise impossible to integrate into Canadian society. On the other hand, those with good will and initiative would have a chance to become contributing members of society.</p>
<p>I have no illusions that there would not be difficulties with such an approach. But it does attempt to offer pragmatism with humanity.</p>
