<table>
<tbody>
<tr class="odd">
<td>ayout: post</td>
</tr>
<tr class="even">
<td>itle: Not-So-Brave New World</td>
</tr>
<tr class="odd">
<td>ate: 2020-4-8</td>
</tr>
</tbody>
</table>
<h1 id="the-not-so-brave-new-world-of-2020">The Not-so-brave New World of 2020</h1>
<p>As this is being written, millions of people are staying home and distancing themselves from others. There are likely differences in detail between the societal effects on different countries, but Canada is probably – as it so often is – somewhere in the middle of the array of statistics about economic, social and medical statistics.</p>
<p>While it is tempting to agonize about the present, this posting is about the society that will emerge in Canada as the pandemic wanes. And wane it will, preferably by dint of collective discipline rather than survival of the luckiest.</p>
<p>Some of the lessons of the pandemic appear to be</p>
<ul>
<li>that globalization makes us very vulnerable to non-local sources of strategic goods</li>
<li>that personal services – recently a rapidly growing economic sector – can be wiped out by a few molecules of protein and nucleic acid</li>
<li>that we need to pay attention to ensuring our supply chains for food, medicines and equipment, and other products without which our lives and well-being are at risk</li>
</ul>
<p>All well and good, but how much of the service sector is going to bounce back? Probably a good chunk of the restaurants and bars, since we are social beings. No doubt such personal services as hairdressers and gyms will gradually recover, but cruise ships may need to be repurposed. Could they house refugees? Their crews and hospitality staff probably won’t be needed.</p>
<p>Air travel has in the last two decades moved to tighter and tighter seating, with more and more of us zooming about the planet. These two factors have loomed large in spreading the novel virus.</p>
<p>We are seeing governments spread largesse to maintain the incomes of citizens. Otherwise, we may see inconvenience morph to dislocation and possibly mayhem. Program after program is rolled out in a rapid fire of action. A machine gun rate compared to a match-lock muzzel loader. Is this an efficient approach? I would claim it is not, especially compared to a minimum income.</p>
<p>Paying every citizen a standardized amount based on age could replace child, old age, disability, emergency, unemployment and other benefits. There are precedents, including some in Canada, where minimum income has been tried. Yes, some people will take the money and sponge off the nation. But many freeloaders already do, courtesy of the myriad of strange and unnecessary sinecures that have been established over our history, and often at much greater than food-stamp levels. Minimum incomes are a floor, and most of us don’t want to live on the floor. It obviously isn’t fair to some people who work hard and don’t get all the benefits, but in practical terms, there are no fully fair systems, just some that are not too unfair.</p>
<p>The idea, of course, is to ensure that citizens have sufficient resources for food, clothing, shelter and a bit more, because poverty is, to put it bluntly, very expensive for society. Poor people need lots of resources. They are sicker, eat more expensive but less nutricious food, get into trouble, fail to obey the rules and generally are a bad lot. So a minimum income effectively defines a lot of them out of existence.</p>
<p>How, though, to pay for all this largesse? Modern governments have discovered how to use banking systems to effectively create money. This requires a delicate hand on the money tap to avoid runaway devaluation of the currency, but creation of money in balance with the productivity of the society has managed to grow prosperity.</p>
<p>Taxation also needs to enter the equation in similar balance, and governments have discovered a multitude of ways to draw money away from their citizens. Personally, I find them simply ways to provide well-paid employment to an army of accountants. Actually two armies, one working for governments, the other for taxpayers. Surely there are activities that are ultimately more beneficial to our planet.</p>
