<h1 id="missed-opportunities-for-beating-covid">Missed opportunities for beating Covid</h1>
<p>We’re into the third Covid wave here in Ontario.</p>
<p>Unfortunately, political dogma is getting in the way of practicalities. Public health workers have been telling governments that we need ways for people to stay at home when they are or might be sick. Even some enlightened employers are saying they are doing better by paying sick leave and keeping their workforce functioning. But so-called “common sense” doctrines are such that our governing group is deaf and blind to opportunities that are win-win-win.</p>
<p>What do I mean?</p>
<p>Paid sick leave DOES cost money. Not paying it costs our whole society a lot more. And every scheme that pays money will have cheats and frauds. So how can we get the benefits and keep the costs tolerable? What follows is an outline of one possible scenario.</p>
<p>Before I begin, I will, however, point out that I taught the management of technological risk in the Telfer School of Management of the University of Ottawa for some years. And (with Tim Ramsay) I’ve published ideas about the first SARS epidemic in 2006. These ideas are mostly notable in how diligently they’ve been ignored, but we are not alone – most recommendations and plans in Canada to prepare for another epidemic were blithely consigned to the trash.</p>
<p>The main goal of paid sick leave is to remove the necessity for people to go to work so their income is maintained. Reimbursement later probably means inability to pay for food, shelter and other necessities. If the employer pays regular wages, we overcome this immediate obstacle.</p>
<p>The employer may, of course, find this a burden. And an employee who is absent may be malingering or working elsewhere to try to get double pay. That was why we used to have to get doctor’s notes. They now cost fairly serious money and are a nuisance to both the patient / worker as well as the medical system.</p>
<p>We do, however, have telehealth systems. Could we use telephone or internet chat methods to report and provide a primary validation that a worker is sick? With growing availability of tools centered on smart phones and similar devices, we might even be able to capture data that confirms at least some symptoms of disease.</p>
<p>Assuming a telehealth system could provide timely reporting of sickness, it could also generate a message with a confirmation number to the employer. If governments are willing to commit the resources, these tickets could be submitted by the employer for compensation for paying sick leave.</p>
<p>At this level, a telehealth reporting system doesn’t do a lot more than the old doctor’s note approach. The real gains can come by amplifying the system in modest but important ways.</p>
<p>First, we can use statistics from the system to get a much earlier warning of potential disease outbreaks.</p>
<p>Second, if governments are willing to fund a modest system of health visitors – a very old-fashioned idea – we could acquire much better information on what is really happening. Though it is almost certain that health visitors would check only a small sample of all reports, tests and diagnostic measurements would add a great deal to understanding of the reasons for reports. For example, in the current pandemic, knowledge of variant viruses is becoming increasingly pertinent.</p>
<p>A by-product of visits would be a check, albeit likely a sample only, on the possibility of invalid claims for sick leave.</p>
<p>This outline system would not solve all the issues related to sick leave. It does, however, address some of the obstacles that some politicians put in the way of doing the right thing. Moreover, if we integrate the economic and public health tools we could put in place, we will be better able to beat epidemic disease quickly.</p>
